/* цвет основного текста #757575*/
/* вторичный цвет текста #212121 */
/* цвет акцента 2196f3*/
/* белый #ffffff */
/* outline: 2px solid tomato; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-background: #f5f4fa;
  --footer-background: #2f303a;
  --border: #ececec;
  --border-client: #afb1b8;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid tomato; */
}
.container.main-nav,
.footer > .container {
  padding-top: 0;
  padding-bottom: 0;
}
.filter {
  padding-bottom: 50px;
}
.works {
  padding-top: 0;
}
.main-nav.border {
  border-bottom: 1px solid var(--border);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Лого */
.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.18;
  color: var(--accent-color);
}
.logo-regular {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-black {
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover .logo-regular,
.logo:focus .logo-regular,
.logo:hover .logo-black,
.logo:focus .logo-black {
  color: var(--accent-color);
}
.left-nav a,
.auth-nav-contact {
  text-decoration: none;
}
/* Site nav */
.site-nav,
.auth-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  margin-left: 80px;
}
.auth-nav {
  margin-left: auto;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav .item:not(:last-child) {
  margin-right: 30px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .current:visited {
  color: var(--accent-color);
}
.site-nav .item {
  position: relative;
}
.current::after {
  display: inline-block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 4px;
  border-radius: 2px;
  margin: 0 auto;
  background-color: var(--accent-color);
}
.left-nav {
  display: flex;
  align-items: center;
}
.auth-nav-contact {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-nav {
  fill: currentColor;
  width: 16px;
  max-height: 15px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav {
  display: flex;
  justify-content: space-between;
}
.icon-nav:hover,
.icon-nav:focus {
  fill: currentColor;
}
.auth-nav-contact:hover,
.auth-nav-contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* Главный заголовок */

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  padding-top: 200px;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* outline: 2px solid tomato; */
}
.section-title {
  margin: 0;
  padding: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.hero-main {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.hero {
  color: var(--primary-white-color);
  text-align: center;
}

/* Особенности */

.features {
  display: flex;
}
.features .title {
  color: var(--title-text-color);
  padding: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features p {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.features .item {
  width: calc((100% - 90px) / 4);
}
.features .item:not(:last-child) {
  margin-right: 30px;
}
.features-border {
  border-bottom: 1px solid var(--border);
}

.features-icon {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
  background-color: var(--second-background);
  border-radius: 4px;
}

/* Секция сфер деятельности */
.scope-title {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.scope {
  display: flex;
}
.scope .item {
  position: relative;
  width: calc((100% - 60px) / 3);
}
.scope .item:not(:last-child) {
  margin-right: 30px;
}

/* Секция команда */
.section.second-bcg {
  background-color: var(--second-background);
}
.team .title {
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-post {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
.team {
  display: flex;
  text-align: center;
}
.team > .item {
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team > .item:not(:last-child) {
  margin-right: 30px;
}
.team-social-link {
  padding: 12px;
}
.team-social-link:hover {
  background-color: var(--accent-color);
}
.social-link-list {
  display: flex;
  padding: 0;
  margin: 0;
  padding-bottom: 24px;
  justify-content: center;
}
.social-link-list .item:not(:last-child) {
  margin-right: 10px;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  fill: var(--border-client);

  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:hover,
.social-item:focus {
  color: var(--primary-white-color);
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}
.icon-social-link:hover,
.icon-social-link:focus {
  display: block;
  fill: currentColor;
}

/* Секция клиенты */
.client-list {
  display: flex;
}
.client-list .item {
  width: calc((100% - 150px) / 6);
}
.client-list .item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;

  color: var(--border-client);

  border: 1px solid;
  border-color: var(--border-client);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.icon-client {
  fill: currentColor;
  max-width: 86px;
  max-height: 50px;
}

.icon-client:hover,
.icon-client:focus {
  fill: currentColor;
}

/* Футер */
.footer a {
  text-decoration: none;
}
footer {
  color: var(--primary-white-color);
  background-color: var(--footer-background);
}
.footer-address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}
.footer-contact {
  display: flex;

  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
.footer-flex .logo {
  display: block;
  margin-bottom: 10px;
}
.footer-address .item:not(:last-child) {
  display: block;
  margin-top: 0;
  margin-bottom: 9px;
}
.footer-offer {
  display: block;
  margin-bottom: 21px;
}
.adress-transparency,
.footer-copyright {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-copyright {
  font-size: 12px;
  line-height: 2;
  margin: 0;
  margin-top: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  text-align: center;
}
.footer-offer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-soclink {
  display: flex;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.footer-soclink .item:not(:last-child) {
  margin-right: 11px;
}
.footer-social-link {
  display: block;
  fill: currentColor;
}

.footer-email {
  display: flex;
}
.footer-flex {
  display: flex;
  padding-top: 48px;
  padding-bottom: 28px;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Кнопка на главной */
.main-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border: 1px solid var(--accent-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  font-family: inherit;
  text-decoration: none;
  border: 1px solid var(--accent-color);
}

.footer-button {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 200px;
  padding: 10px 45px;
  margin-left: 12px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover,
.footer-button:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  border-color: var(--accent-color);
}
.footer-send {
  display: block;
  margin-left: 10px;
}

/* Кнопки-фильтры */
.portfolio-title {
  margin: 0;
  padding: 0;
  text-align: center;
}
.button-portfolio {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--second-background);
  font-family: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* Портфолио фильтр */
ul .portfolio-list {
  color: var(--title-text-color);
  background-color: var(--second-background);
}
.list-filter {
  display: flex;
  justify-content: center;
}
.list-filter .item:not(:last-child) {
  margin-right: 8px;
}
/* Портфолио Список работ */
.list-works {
  display: flex;
  flex-wrap: wrap;
}
.list-works .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.list-works .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.list-works .item:nth-child(3n) {
  margin-right: 0;
}
.list-works-link {
}
.list-works-link {
  display: block;
  margin: 0;
}

.works-thumb {
  position: relative;
  overflow: hidden;
}

.descr-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 64px 23px 64px 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);

  opacity: 0;
  transform: translateY(100%);
  transform-origin: bottom center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-works-link:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.list-works-link:hover .descr-list {
  transform: translateY(0);
  opacity: 1;
}
img {
  display: block;
  max-width: 100%;
}
.works-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples-works .work-name {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.works-content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 0;
}
.work-name {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: transparent;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.icon-close {
  display: block;
  justify-content: center;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 12px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}
